<html>

<head>
    <title>KoodiKerho</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
            <script src="/js/script.js" type="text/javascript"></script>
            
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 jumbotron">
                <h1>Welcome to KoodiKerho!!11!!!</h1>
            </div>

            <div class="col-sm-4 col-sm-offset-4" align="middle">
                <button class="btn btn-default" id="showImage_button" onclick="showImage();">Show picture!</button>
                <button class="btn btn-danger hidden" id="hideImage_button" onclick="hideImage();">Hide picture</button>
            </div>

            <div class="col-sm-6 col-sm-offset-3 hidden" id="funny_image">
                <img src="/images/picture.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</body>

</html>